html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #272727;
  color: #EFF1F3;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input, select {
  border: 1px solid #EFF1F3;
  color: #272727 !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0 .5rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #009FB7;
}

.ck.ck-editor__main>.ck-editor__editable {
  color: #272727;
}

.ck-editor__editable_inline {
  min-height: 300px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;